{% extends "digits/base.html" %}
{% block content %}
<div class="center-box">
    <h2>Choose a New Password</h2>

    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
            
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}

            <button type="submit">Reset Password</button>
        </form>
    {% else %}
        <p>This password reset link is invalid or expired.</p>
    {% endif %}
</div>